section.about-company.container
  .about-company__info
    h2.visually-hidden О компании
    p.about-company__text-big Мы — маленькая, но гордая дизайн-студия из Краснодара.
    p Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
    h3 Выполняем заказы на разработку:
    ul.about-company__list
      li Веб-сайтов любой сложности
      li Мобильных приложений для iOS и Android
      li Слайдшоу и видео для корпоративных презентаций
  .about-company__advantages.advantages
    p с 2004 года Любим точность во всем:
    ul.advantages__list
      li.advantages__item
        span 146
        span Уровень самоотдачи
      li.advantages__item
        span 100
        span Соблюдение сроков
      li.advantages__item
        span 50
        span Минимальная предоплата
