section.clients
  .container
    ul.clients__list
      li.clients__item
        img(src="../img/company/logo_htmlacademy.svg" alt="htmlacademy")
      li.clients__item
        img(src="../img/company/logo-21.png" srcset="../img/company/logo-21@2x.png 2x" alt="htmlacademy")
      li.clients__item
        img(src="../img/company/logo-31.png" srcset="../img/company/logo-31@2x.png 2x" alt="htmlacademy")
      li.clients__item
        img(src="../img/company/logo-41.png" srcset="../img/company/logo-41@2x.png 2x" alt="htmlacademy")
