//- promo
section.promo
  <!-- Swiper -->
  .container.slider.slider-promo.swiper-container
    .swiper-wrapper
      .swiper-slide(style="background-image:url(../../../../img/promo/nerds-index-slide11.png)")
        .promo__info
          p.promo__text-big Долго, дорого, скрупулезно.
          p Математически выверенный дизайн для вашего сайта или мобильного приложения.
          a.btn(href="#") Узнать больше
      .swiper-slide(style="background-image:url(../../../../img/promo/nerds-index-slide11.png)")
        .promo__info
          p.promo__text-big 2Долго, дорого, скрупулезно.
          p Математически выверенный дизайн для вашего сайта или мобильного приложения.
          a.btn(href="#") Узнать больше
      .swiper-slide(style="background-image:url(../../../../img/promo/nerds-index-slide11.png)")
        .promo__info
          p.promo__text-big 3Долго, дорого, скрупулезно.
          p Математически выверенный дизайн для вашего сайта или мобильного приложения.
          a.btn(href="#") Узнать больше

    //- Add Pagination
    .swiper-pagination

