//- index.pug
doctype html
html(lang="ru")
  include includes/head.pug
  body.page
    include includes/header/_header.pug
    include includes/_promo.pug
    main
      include includes/_categories.pug
      include includes/_about-company.pug
      include includes/_clients.pug

    include includes/footer/_footer.pug
    include includes/popup/_popup.pug

    include includes/scripts.pug
