.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 1vw 3.75vw;
  font-family: $mainFontMedium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: $default-color;
  background: $accent-color;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: $transition-base;
  outline: none;

  &:focus,
  &:hover {
    outline: none;
    background-color: $hover-accent-color;
    transition: $transition-base;
  }

  &:active {
    outline: none;
    background-color: $active-accent-color;
    box-shadow: $box-shadow;
    transition: $transition-base;
    opacity: $opacity-base;
  }

  &--green {
    background-color: $green-color;

    &:focus,
    &:hover {
      background-color: $hover-green-color;
    }

    &:active {
      background-color: $active-green-color;
    }
  }

  &--yellow {
    background-color: $yellow-color;

    &:focus,
    &:hover {
      background-color: $hover-yellow-color;
    }

    &:active {
      background-color: $active-yellow-color;
    }
  }
}
