.burger {
  width: 60px;
  height: 60px;

  padding: 1em;

  display: inline-block;
  vertical-align: middle;
  background-color: transparent;

  outline: none;
  border: none;
  border-radius: 0;

  &__line {
    display: block;
    width: 80%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #020202;

    &:first-child,
    &:last-child {
      width: 100%;
    }
  }
}