.clients {
  position: relative;
  padding: 46px 0 44px;
  margin-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(19.44vw / 2);
    width: calc(100% - 19.44vw);
    height: 2px;
    background-color: $bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(19.44vw / 2);
    width: calc(100% - 19.44vw);
    height: 2px;
    background-color: $bg-color;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
