.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 140px;

  @media (max-width: $desktop) {
    padding: 0 75px;
  }

  @media (max-width: $table) {
    padding: 0 15px;
  }
}
