.contacts {
  padding: 50px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  background-color: $default-color;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 22px;
  }

  &__address {
    color: #666666;
    padding-bottom: 10px;
  }

  &__phone {
    color: #666666;
    text-decoration: none;
    margin-bottom: 37px;
  }

  & .btn {
    padding-left: 3.3vw;
    padding-right: 3.3vw;
  }
}
