.feedback-form {
  &__wrapper {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & label {
      width: calc(50% - 20px);
    }
  }

  & legend {
    padding-bottom: 37px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
  }

  & label {
    display: flex;
    flex-direction: column;
    padding-bottom: 34px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  & input,
  & textarea {
    margin-top: 9px;
    padding: 16px;
    background: #ffffff;
    border: 2px solid #d7dcde;
    box-sizing: border-box;
    border-radius: 3px;

    &::placeholder {
      color: #444444;
      opacity: 0.5;
    }
  }

  & textarea {
    resize: none;
  }
}
