.feedback-form {
  &--error {
    & input {
      color: #e74246;
      border: 2px solid #e74246;
    }
  }

  &__wrapper {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & label {
      width: calc(50% - 20px);

      @media (max-width: $table) {
        width: 100%;
      }
    }
  }

  & legend {
    padding-bottom: 37px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;

    @media (max-width: $table) {
      font-size: calc(45px / 1.5);
      line-height: calc(53px / 1.5);
    }
  }

  & label {
    display: flex;
    flex-direction: column;
    padding-bottom: 34px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  & input,
  & textarea {
    margin-top: 9px;
    padding: 16px;
    background: #ffffff;
    border: 2px solid #d7dcde;
    box-sizing: border-box;
    border-radius: 3px;

    &::placeholder {
      color: #444444;
      opacity: 0.5;
    }

    &:focus {
      border-color: #000000;
    }

    &:hover {
      border-color: #b4b9bb;
    }
  }

  & textarea {
    resize: none;
    max-height: 118px;
  }

  &__btn {
    @include BtnReset();
    margin-top: 15px;
    padding: 15px 84px;

    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    color: $default-color;
    background: $accent-color;
    text-transform: uppercase;
    text-decoration: none;

    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: $transition-base;
    outline: none;

    &:focus,
    &:hover {
      outline: none;
      background-color: $hover-accent-color;
      transition: $transition-base;
    }

    &:active {
      outline: none;
      background-color: $active-accent-color;
      box-shadow: $box-shadow;
      transition: $transition-base;
      opacity: $opacity-base;
    }
  }
}
