.page {
  position: relative;
  margin: 0;
  padding: 0;

  min-height: 100%;

  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;

  color: $primary-color;
  

  scroll-behavior: smooth;
}

@supports (display: flex) {
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
