.page-header {
  width: 100%;
  padding-top: 48px;
  background-color: $bg-color;

  & h1 {
    padding-top: 72px;
    padding-bottom: 108px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
  }

  & .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    margin-right: 47px;
  }

  &__cart {
    padding-top: 17px;
  }
}
