.promo {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 40px;
  background-color: $bg-color;
  color: #283136;

  &__info {
    position: relative;
    z-index: 2;
    max-width: 400px;
  }

  &__text-big {
    padding-top: 80px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 25px;
    color: $primary-color;
  }

  &__btn-more {
    padding: 15px 54px;
    margin-top: 38px;
  }

  &__slider {
    overflow: hidden;

    & .swiper-slide {
      padding: 20px 0 50px;
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: contain;
    }

    & .swiper-pagination {
      position: relative;
      bottom: 96px;
      left: 50%;
      transform: translateX(-50%);
    }

    & .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      background-color: #ffffff;
      opacity: 1;
    }

    & .swiper-pagination-bullet:not(:last-child) {
      margin-right: 17px;
    }

    & .swiper-pagination-bullet-active {
      position: relative;
      background-color: #ffffff;
    }

    & .swiper-pagination-bullet-active::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border: 2px solid #c1c1c1;
      border-radius: 50%;
    }
  }
}
