.social {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 81px;
    height: 81px;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &:first-child {
      & .social__link {
        padding-left: 26px;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
    border-radius: 50%;

    &:focus,
    &:hover {
      & .icon {
        opacity: 0.3;
      }
    }

    & .icon {
      height: 22px;
    }
  }
}
