.contacts
  h3.contacts__title NЁRDS DESIGN STUDIO

  p.contacts__address наб. Реки Карповки, 5 лит П, Санкт-Петербург
  a.contacts__phone(href="tel:+78005558628") +7 800 555-86-28

  button.btn Напишите нам
