.contacts
  .container
    .contacts__info
      h3.contacts__title NЁRDS DESIGN STUDIO

      p.contacts__address наб. Реки Карповки,
        br
        | 5 лит П, Санкт-Петербург
      a.contacts__phone(href="tel:+78005558628") +7 800 555-86-28

      button#js-contacts-btn.btn Напишите нам
