//- footer

footer.page-footer
  include _map.pug
  .container
    .page-footer__social.social
      include _social.pug
    .page-footer__text
      p.page-footer__text--big Давайте дружить, это выгодно!
      p Скидка 10% для друзей из социальных сетей.


