include ../../mixins/svg_icon.pug

ul.social__list
  li.social__item
    a.social__link.social__link--vk(href="#" aria-label="ссылка на наш vk")
      +svg_icon(("img/sprite_auto.svg"), "icon-vk").social__icon
  li.social__item
    a.social__link(href="#" aria-label="ссылка на наш fb")
      +svg_icon(("img/sprite_auto.svg"), "icon-fb").social__icon.social__icon--fb
  li.social__item
    a.social__link(href="#" aria-label="ссылка на наш instagram")
      +svg_icon(("img/sprite_auto.svg"), "icon-instagram").social__icon.social__icon--in
