// $vw-viewport: 1440;
// @function get-vw($font){
//   $vw-context: $vw-viewport * 0.01 * 1px;
//   @return $font / $vw-context * 1vw;
//   @return $font;
// }

$maxWidth: 1447;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
