include svg_icon

mixin form-drop(data)
  .form__item
    .dropdown.js-dropdown.form__drop(data-type= data.type class= data.classList)
      if data.label
        span.form__label= data.label
      .dropdown__btn.button.form__drop-btn(class= data.btnClassList)
        span.form__drop-name= data.name
        if data.dots
          //- +svg_icon(require('../images/svg/elipsis.svg').default).icon.icon_elipsis
        else
          //- +svg_icon(require("../images/svg/chevron.svg").default).icon.icon_chevron
      .dropdown__block
        .dropdown__inner
          .form__drop-content
            block
