include info

mixin input(data)
  label(for= data.id class= data.classList data-field= data.fieldId)
    if data.label
      span
        = data.label
        if data.info
          +info()
            = data.info
    input.input(type= data.type multiple= data.multiple maxlength= data.maxlength id= data.id data-title= data.title  class= data.controlClassList placeholder= data.placeholder value= data.value autocomplete= data.autocomplete disabled= data.disabled name= data.name)
    if block
      block