mixin select(data)
  if data.label
    label.custom-select-label(for= data.id)= data.label
  select.select-control.custom-select__selected(id= data.id class= data.classList)
    each option in data.options
      option(value= option.inner data-classes= option.classes)= option.inner