.catalog__wrapper
  include _sort.pug
  section.catalog__list
    .catalog__item
      a.product(href="#")
        .product__header
          svg(viewBox="0 0 100 4"  xmlns="http://www.w3.org/2000/svg")
            circle(cx="2" cy="2" r="2")
            circle(cx="7" cy="2" r="2")
            circle(cx="12" cy="2" r="2")
        .product__pic
          img(src="../img/catalog/img-sedona 1.jpg", alt="sedona")
        .product__body
          h3.product__title
          p
          .product__price

    .catalog__item
    .catalog__item
    .catalog__item


