.pagination
  ul.pagination__list
    li.pagination__item.pagination__item--active
      a.pagination__link(href="#") 1
    li.pagination__item
      a.pagination__link(href="#") 2
    li.pagination__item
      a.pagination__link(href="#") 3

  button.pagination__btn(type="button") Следующая
