include ../../mixins/svg_icon.pug

form.sort.catalog__sort(action="https://echo.htmlacademy.ru" method="get")
  .sort__wrapper
    .sort__title Сортировать:

    button.sort__item.sort__item--active(type="button") По цене
    button.sort__item(type="button") По типу
    button.sort__item(type="button") По названию

    .sort__arrows
      button.sort__arrow-btn.sort__arrow-btn--active(type="button" aria-label="Сортировать по убыванию")
        +svg_icon(("img/sprite_auto.svg"), "icon-arrow").icon
      button.sort__arrow-btn.sort__arrow-btn--revers(type="button" aria-label="Сортировать по возврастанию")
        +svg_icon(("img/sprite_auto.svg"), "icon-arrow").icon
