form.sort.catalog__sort(action="https://echo.htmlacademy.ru" method="get")
  fieldset
    legend Сортировать:

    button.sort__btn.sort__btn--active(type="button") По цене
    button.sort__btn(type="button") По типу
    button.sort__btn(type="button") По названию

    .sort__arrows
      button.sort__arrow-btn.sort__arrow-btn--active(type="button" aria-label="Сортировать по убыванию")
      button.sort__arrow-btn(type="button" aria-label="Сортировать по возврастанию")
